#home-jumbotron {
    background-image: url('/portal-assets/images/bg_blueplane.jpg'); 
    background-size: cover;
    height: 400px;
    color:#FFF;
}

.jumbotron h1 {
    margin-top:50px;
}

#jumbo-cta {
    margin-top:40px;
}

.btn.catalogue {
    margin-top:20px;
    width: 100%;
}

#portal-footer {
    margin-top:80px;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#body {
    padding-top: 5em;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1;
    margin-left: 1em;
    margin-right: 1em;
}

h2.wtt{font-size: 1.5em;}
table.wtt {}
.wttnormal {color:#000;}
.wttpass {color:#888;}

.wttnormal a {color: #00F;}
.wttpass a {color: #88F;}

.linklist a:last-child {border-right: 1px solid #fff;}
.linklist a {
    border-right: 1px solid #888;
    padding-right: 0.25em;
}

.wttact {
    text-align: right;
    width: 1.5em;
    display: inline-block;
}

.wttplat {text-align: center;}

table.wikitable tbody th.wttpub, table.wikitable th.wttwork {border-bottom: 1px solid #f2f2f2;}
table.wikitable tbody th.wttpta, table.wikitable th.wttpta {border-right: 1px solid #f2f2f2;}
table.wikitable tbody td.wttpta, table.wikitable td.wttpta {border-right: 1px solid #f9f9f9;}

table.wikitable tbody th.wttptd, table.wikitable th.wttptd {border-left: 1px solid #f2f2f2;}
table.wikitable tbody td.wttptd, table.wikitable td.wttptd {border-left: 1px solid #f9f9f9;}

table.wikitable tbody th.wttwta, table.wikitable th.wttwta,
table.wikitable tbody th.wttwtd, table.wikitable th.wttwtd {
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}

table.wikitable tbody td.wttwta, table.wikitable td.wttwta,
table.wikitable tbody td.wttwtd, table.wikitable td.wttwtd {
    border-right: 1px solid #f9f9f9;
    border-left: 1px solid #f9f9f9;
}

table.wikitable tbody th.wttwtp, table.wikitable th.wttwtp {border-left: 1px solid #f2f2f2;}
table.wikitable tbody td.wttwtp, table.wikitable td.wttwtp {border-left: 1px solid #f9f9f9;}

table.wikitable {
    margin: 1em 0;
    background-color: #f9f9f9;
    border: 1px #aaa solid;
    border-collapse: collapse;
    color: black;
    font-size: 1em;
}

table.wikitable thead th, table.wikitable th {
    background-color: #f2f2f2;
    text-align: center;
    border: 1px #aaa solid;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

table.wikitable tbody td, table.wikitable td {
    background-color: #f9f9f9;
    border: 1px #aaa solid;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

table.wikitable td.tableright, table.wikitable th.tableright {text-align: right;}

table.wikitable td.tableblankrow {
    border-left: 1px solid white;
    border-right: 1px solid white;
    background: white;
    color: white;
    height: 5px;
}

.left {float:left;}
.right {float:right;}
.clear {clear: both;}
